@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">STAFFORDSHIRE BULL TERRIER CLUB CZ</h1>
    <p>You can use official website here <a href="https://staffbullclub.cz/">SBTC</a>.</p>
</div>
